body {
    background-color: black;
}

.brand-logo {
    margin-left: 1em;
}

.row {
    border-radius: 4px;
    margin: 1em;
}

img {
    width: 50px;
    background: white;
    
}

#link {
    width: 300px;
    margin: 1%;
}