div {
    box-sizing: border-box;
    margin: 1%;
}

body {
    background-color: black;
}


#banner {
    color: white;
    background-color: orangered;
    padding: 2% 1% 2% 1%;
    width: 50%;
    
}

#instructions {
    background-color: sandybrown;
    color: green;
    padding: 2% 1% 2% 1%;
    width: 50%;

}

#thirdRow {
    width: 50%;
    height: 20%;
}

#randomNumber {
    background-color: green;
    font-size: 20px;
    float: left;
    width: 24%;
    height: 60%;
    border: 0px solid white;
    margin: 0%;
    padding: 2% 1% 2% 1%;

}

#winsLosses {
    background-color: cyan;
    float: left;
    width: 24%;
    height: 60%;
    border: 0px solid white;
    margin: 0%;
    margin-left: 2%;
    padding: 2% 1% 2% 1%;

}

.crystals {
    border-style: outset;
    clear: both;
    width: 50%;
}

img {
    width: 50px;
    padding: 5px;
    background: white;
    
}

 #purpleButton {
    display: absolute;
}

#link {
    width: 300px;
    margin: 1%;
}

#scoreBox1 {
    background-color: seagreen;
    width: 25%;
    clear: both;
}

#scoreBox2 {
    background-color: seagreen;
    font-size: 20px;
    width: 25%;
    clear: both;
    height: 15%;
}